*{
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family: 'Courier New';
    text-align: center;

}
.back{
    width:100%;
    height: 95%;
    background: #66946d;
}
.container{
    width: 100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: 92%;
    background-color: #dad7cd;
    border-radius: 25px;
}
.test{
    width: 100%;
    transform: translateY(90px);


}

.swiper h1{
    position: absolute;
    top: 12%;
    
    left: 50%;
    transform: translate(-50%, -50%);
}
.image{
    padding-left: 4%;

    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.image2{
    padding-right: 120%;
    width: 220%;
    margin-bottom: 0px;
    padding-bottom: 8%;
}

.swiper p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-size: 130%;
    text-size-adjust: 50%;
    position: absolute;
    top: 10%;
}
.swiper-slide img{
    width:50%;
}

.container .swiper-button-prev, .container .swiper-button-next{
  color:aliceblue;
    height:40%
}

.swiper .swiper-pagination{
    color:black;
}
#anim{
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 9;
    top: -70%;
    left: -10%;
    height: 100%;
    clip-path: inset(120px 70px 120px 85px);
}

.slide-2 {
    height:60%;
}
#IntEgg{
    width: 80px;
    border: none;
}
#BoolEgg{
    width: 80px;
    border: none;
}
#StringEgg{
    width: 80px;
    border: none;
}
#bucket{
    width: 150px;
    margin-top: -3  0px;
    margin-right: 120px;
}
#nest{
    width: 100%;
   
}
.text{
    font-size: 100%;
    position: relative;
    padding-right: 80%;
    margin-top: -50%;
    top: -20%;
    
}
.text2{
    font-size: 100%;
    padding-left: 30%;
}

.audio{
    padding-top: 30px;
}





#switch{
    width: 100px;
    margin-top: -100%;

}
#switchM{
    width: 120px;

}
#lightbulb1{

    padding-left: 4%;
    height: 60x;
    width: 220px;
}
#lightbulb2, #lightbulb3, #lightbulb4, #lightbulb5{

    padding-left: 4%;
    height: 60x;
    width: 300px;
}

#light{
    width: 180px;
    margin-top: -27%;
    margin-right: 150px;

}
#lightM{
    width: 180px;
    margin-top: -27%;
    margin-right: 150px;

}
#andswitch2, #andswitch1{
    width: 100px;
}
.testand, .testor, .testgreat{
    margin-top: -5%;
}
#light2, #light3, #light4, #light5{
    width: 150px;
    margin-top: 10px;
    margin-right: 50px;
}
#orswitch1, #orswitch2{
    width: 100px;
}
#gswitch1, #gswitch2,  #gswitch3,  #gswitch4{
    width: 80px;
}
#sswitch1, #sswitch2,#sswitch3, #sswitch4{
    width: 80px;
}