*{
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family: 'Courier New';
    text-align: center;

}
.back{
    width:100%;
    height: 100%;
    background: #020e04;
    background: linear-gradient(#66946d, rgba(95, 119, 108, 0.75));
}
.container{
    width: 100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: 60%;
    background-color: #dad7cd;
    border-radius: 25px;
}
.test{
    width: 100%;
    border: none;
    margin-top: 80px;
    align-items: center;
    margin-bottom: 10px;
}
.swiper h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image{
    margin-top: 15px;
    padding-left: 25%;

    align-items: center;
    width: 75%;
    margin-bottom: 10px;
}

.swiper p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    font-size: 130%;
    text-size-adjust: 50%;
    position: absolute;
    top: 10%;
}
.swiper-slide img{
    width:50%;
}

.container .swiper-button-prev, .container .swiper-button-next{
  color:aliceblue;
    height:40%
}

.swiper .swiper-pagination{
    color:black;
}
#anim{
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 9;
    top: -80%;
    left: -5%;
    height: 100%;
    clip-path: inset(120px 70px 120px 85px);
}

.slide-2 {
    height:60%;
}
#IntEgg{
    width: 80px;
    border: none;
}
#BoolEgg{
    width: 80px;
    border: none;
}
#StringEgg{
    width: 80px;
    border: none;
}
#bucket{
    width: 150px;
    margin-top: -3  0px;
    margin-right: 120px;
}
#nest{
    width: 100%;
   
}
.text{
    font-size: 100%;
    padding-right: 80%;
}
.text2{
    font-size: 100%;
    padding-left: 30%;
}