*{
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family: 'Courier New';
    text-align: center;

}
.back{
    width:100%;
    height: 100%;
    background: #66946d;
    background: linear-gradient(#66946d, rgba(95, 119, 108, 0.75));
}
.container{
    width: 100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: fit-content;
    background-color: #dad7cd;
    border-radius: 25px;
}
.test{
    margin-top: 80px;
    align-items: center;
    margin-bottom: 10px;
}
.swiper h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#switch{
    width: 100px;
}
#light{
    width: 150px;
    margin-top: -20px;
    margin-right: 150px;
}
.switchbutton{
    width:5px;
    background-color: inherit;
}
#andswitch2{
    width: 100px;
}
#light2{
    width: 150px;
    margin-top: -20px;
    margin-right: 150px;
}
#light3{
    width: 150px;
    margin-top: -20px;
    margin-right: 150px;
}
#light4{
    width: 150px;
    margin-top: -20px;
    margin-right: 150px;
}
#andswitch1{
    width: 100px;
}
#gswitch1{
    width: 100px;
}
#gswitch2{
    width: 100px;
}
#gswitch3{
    width: 100px;
}
#gswitch4{
    width: 100px;
}
#orswitch1{
    width: 100px;
}
#orswitch2{
    width: 100px;
}
.switchbutton2{
    width:5px;
    background-color: inherit;
}
.swiper p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    font-size: 150%;
    text-size-adjust: 50%;
    position: absolute;
    top: 12%;
}
.swiper-slide img{
    width:50%;
}

.container .swiper-button-prev, .container .swiper-button-next{
  color:aliceblue;
    height:40%
}

.swiper .swiper-pagination{
    color:black;
}
#anim{
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 9;
    top: -60%;
    margin-left:-6%;
    
    clip-path: inset(120px 70px 120px 85px);
}