.container-2 {
  width: 1550px;
  height: 972px;
  background: #66946d;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}


#left, #right {
  width: 220px;
  height: 750px;
  margin: 10px;
  border: rgba(255, 255, 255, 0.31415926535) 4px solid;
  border-radius: 5px;
}
#items-right {
  width: 220px;
  height: 750px;
  margin: 10px;
  border: rgba(255, 255, 255, 0.31415926535) 4px solid;
  border-radius: 5px;
  margin-left: 20px;
}

#check {
  background: rgb(255, 193, 77);
  border-radius: 50% 50% 0 0;
}

#reset-button {
  background: #CDC2AE;
  border-radius: 50% 50% 0 0;
}

.run-button {
  text-align: center; 
}



#playground {
  width: min(100%, 750px);
  height: min(100%, 750px);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 4px;
  padding: 4px;
  border: rgba(255, 255, 255, 0.31415926535) 4px solid;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px; 
}

.grid-item {
  background-color: #969c72;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 3px; 
}

.buy-item {
background-color: #dad7cd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 3px;
  margin: 10px;
  cursor: pointer;
}

#item {
max-width: 80%;
max-height: 80%;
}

#bird-icon {
  max-width: 80%;
  max-height: 80%;

}
#player {
  grid-column-start: 1;
  grid-row-start: 1;
}

/* font awesome thingies
.grid-item {
  background-color: #969c72;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  font-size: 24px;
} */



.listDragDrop {
  background: #dad7cd;
  height: 60px;
  width: 200px;
  margin: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  padding-left: 12px;
  border-radius: 5px;  
  text-align: left;
}

.delete-button {
  display: none;
  background-color: #CDC2AE;
  color: #ffffff;
  padding: 14px 14px;
  margin-left: 12px; 
  margin-right: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  order: 1; 
}


.listDragDrop p {
  flex-grow: 1; 
}

#lesson-check {
background: rgb(255, 193, 77);
border-radius: 50% 50% 0 0;
}

.lesson-instruction {
  width: 1000px;
  height: 200px;
  padding: 4px;
  border: rgba(255, 255, 255, 0.31415926535) 4px solid;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px; 
  color: white;
  font-family: monospace;
}

.lesson-bird {
width: 1000px;
  height: 540px;
  padding: 4px;
  border: rgba(255, 255, 255, 0.31415926535) 4px solid;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px; 
  color: white;
  font-family: monospace;
}
