.container {
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;  
}

#left, #right {
    width: 300px;
    height: 1000px;
    margin: 20px;
    border: 2px dashed white;
}
#check {
    background: orange;
}

.list {
    background: #47eb96;
    height: 60px;
    margin: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
    color: black;
    padding-left: 12px;
    border-radius: 5px;
    
}

.delete-button {
    display: none;
    background-color: #259934;
    color: #ffffff;
    padding: 14px 14px;
    margin-left: 140px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }